body {
    max-width: 1640px;
    margin:0 auto;
    position: relative;
}   
body h1 {
    font-family: "Myriad Pro";
}
main .motto span {
    font-family: "Barlow";
    font-size: 1.5em;
}
body .wrapper::before {
    content: '';
    height: 1640px;
    width: 150vw;
    position: absolute;
    left: -135px;
    z-index: 1;
    margin:auto;
    background-image: url(../img/haus_4_7.jpg);
    background-repeat: no-repeat;
}
body .wrapper::after {
    position: absolute;
    content: " ";
    height: 1640px;
    width: 150vw;
    background: url(../img/Haus_3.jpg);
    z-index: -1;
    background-repeat: no-repeat;
    pointer-events:none;
}
header .wrapper {
    max-height: 1204px;
    display:grid;
    grid-template-columns: 350px 1150px;
    grid-column-gap: 265px;
    position: relative;
}
header .wrapper nav {
    /*margin-left: 462px;*/
    display: grid;
    align-items: center;
}

header .wrapper .logo {
    margin-left: 0px;
    margin-top:43px;
    display: grid;
}
header .wrapper .logo:hover {
    cursor: pointer;
}
header nav ul {
    min-width:603px;
    height: 18px;
    display: grid;
    grid-template-columns: 114px 114px 130px 114px 114px;
    list-style: none;
    justify-content: center;
}
header nav ul li {
    display: grid;
    justify-content: end;
   
}


header nav ul li a{
    color: white;
    cursor: none;
    font-family: "Barlow";
    text-decoration: none;
}
header nav ul li a:hover {
    cursor: pointer;
}
header .nav-bar {
    display: grid;
    grid-template-columns: 830px 300px;
}
header .socialButtons {
    display: grid;
    align-items: center;
    grid-template-columns: 68px 30px;
   
}

header .socialButtons button {
    background-color: rgb(73,73,73);
    border: none;
    display: grid;
    justify-content: center;
}
main .socialButtons button:hover {
    cursor: pointer;
 }
header .socialButtons button figure {
    margin-left: 0px;
}
main {
    display: grid;
    grid-template-rows: 900px 300px 880px;
}
main .motto {
    display: grid;
    grid-template-rows:repeat(4,1fr);
    min-width:520px;
    max-height: 368px;
    margin-top: 200px;
    color:white;
    margin-left: 70px;
}
main .motto h1{
    font-size: 4em;
    margin-top: 0px;
} 
main .motto button figure {
    display: grid;
    grid-template-columns: 4fr 0.1fr;
    align-items: center;
    grid-column-gap: 10px;
    color: white;
    margin-left:0px;
}
main .motto button figure figcaption {
    width: 120px;
}

main .motto button.callAction {
    max-width: 218px;
    max-height: 80px;
    background-color:rgb(214,36,34);
}

main .motto button.callAction :hover{
   cursor: pointer;
}

main .dach {
    margin-left: 70px;
}
main .dach h1{
    color: red;
    margin-top:0px;
}
main .dach span{
    color: red;
    font-size: 1.5em;
} 
main .dach p{
    color:rgb(118,116,117);
    font-family: "Barlow";
}

main .leistung  {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 10px;
}    
main .leistung  figure{
    margin-left: 0px;
}

main .leistung .leistungItems{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
}

main .leistung .teaser h1 {
    color:grey;
    display: grid;
    justify-content: center;
    position: relative;
}

main .leistung .teaser h1::after {
    content: "";
    position: absolute;
    left: -100;
    width: 40%;
    height: 2px;
    bottom: 12px;
    background-color: grey;
}
main .leistung .teaser h1::before {
    content: "";
    position: absolute;
    right:0px;
    width: 40%;
    height: 2px;
    bottom: 12px;
    background-color: grey;
}

main .leistungItems {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    margin: 0 auto;
}

main .leistungItems .item {
    display: grid;
    border:1px solid black;
}

main .leistungItems .item img{
    width: 100%;
}

main .leistungItems .item .leistungen{
    background-color: red;
    color: white;
    padding-left: 20px;
    border: 0;
    height: 100%;
}
main .leistungItems .item .leistungen figure{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .leistungItems .item button figcaption {
    
    width: 250px;
    font-family: "Barlow";
    font-size: 1.5em;
}
main .leistungItems .item ul{
    list-style: none;
}
main .leistungItems .item ul li{
    color:grey;
}
main .leistungItems .item .shadow{
    position: absolute;
    display: grid;
    opacity:0.8;
    background-color: black;
    height: 50px;
    width: 527px;
    margin-top: -69px;
}
main .leistungItems .item ul li::before {
    content: "• ";
    color: red; 
    margin-top: 60px;
}
main .leistung figure {
    margin: 0px;
}
main .leistungItems .item figure .title {
    display: grid;
    align-items: center;
    width: 450px;
    color: white;
    padding-left: 40px;
}
